.navbar {
  background: rgb(32, 80, 114);
  background: linear-gradient(90deg, rgba(32, 80, 114, 1) 0%, rgba(86, 197, 150, 1) 100%);
}

.jumbotron {
  padding-top: 7rem;
  background-color: #cff4d2;
}

#projects {
  background-color: #cff4d2;
}

section {
  padding-top: 5rem;
}

footer {
  background: #cff4d2;
}
